---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: ghcr.io/cloudfoundry/bosh/golang-release

inputs:
- name: bosh-cpi-go

run:
  path: bosh-cpi-go/ci/tasks/test-unit.sh
